#{extends 'main.html' /} #{set title:'Alerts' /}

<ul class="breadcrumb">
  <li><a href="@{Application.index()}">Home</a> <span class="divider">/</span></li>
  <li class="active">Monitoring</li>
</ul>

<div class="well well-small">
    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            Actions
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="@{MonitoringController.markAllAsRead()}">Mark all as read</a></li>
            <li><a href="@{MonitoringController.clearAll()}">Clear all</a></li>
        </ul>
    </div>
</div>

<!-- Show it when new alert has been detected without the need to reload the page -->
<!-- Reloading the page will hide this div and display the new alerts -->
<div id="alert-new" hidden="true">
    <div class="alert alert-block">
        <h4>Warning!</h4>
        <span id="count">New alert detected!</span>
    </div>
</div>

#{if alerts}

    #{list alerts, as : 'alert'}
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" width="50" height="50" src="@{'/public/assets/img/avatar.png'}">
        </a>
        <div class="media-body">
            <blockquote>
                <p>
                    <span class="label label-important">Unread</span>
                    <span class="alert-message">&nbsp;${alert.message}</span>
                </p>
                <small>${alert.receivedAt.since()}, ${alert.receivedAt.format('dd MMMM yyyy hh:mm:ss')} from ${alert.source}</small>
            </blockquote>
        </div>
    </div>
    #{/list}

#{/if}
#{else}
<div id="alert-empty" class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Info!</h4>
    There are no unread alerts...
</div>
#{/else}