#{extends 'main.html' /} #{set title:'Component' /}

<ul class="breadcrumb">
  <li><a href="@{Application.index()}">Home</a> <span class="divider">/</span></li>
  <li><a href="@{ArtifactsController.index()}">Artifacts</a> <span class="divider">/</span></li>
  <li><a href="@{ArtifactsController.index()}#components">Components</a> <span class="divider">/</span></li>
  <li class="active">${component?.name}</li>
</ul>

<div class="alert alert-info alert-block">
    <h4>Status</h4>
    <b>${component.name}</b> is currently <span class="label label-info">${component.state.toString().toLowerCase().capFirst()}</span>
</div>

<div class="well">
	<div class="btn-group">
	  <a class="btn dropdown-toggle btn-danger" data-toggle="dropdown" href="#">
	    Manage
	    <span class="caret"></span>
	  </a>
	  <ul class="dropdown-menu">
        <li><a href="#">Stop</a></li>
        <li><a href="#">Undeploy</a></li>
    </ul>
	</div>
    <div class="btn-group">
        <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
            Monitoring
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="@{MonitoringController.subscribe(component.name)}">Subscribe</a></li>
        </ul>
    </div>
</div>

<div id="properties">
#{if properties}
    <h4>Properties</h4>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            #{list properties, as : 'property'}
            <tr>
                <td align="left"><b>${property.name}</b></td>
                <td>${property.value}</td>
                <td>
                    <a href="#" class="btn btn-danger disabled">Edit</a>
                </td>
            </tr>
            #{/list}
        </tbody>
    </table>
#{/if}
</div>

<div id="subscriptions">
#{if subscriptions}
    <h4>Subscriptions</h4>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>State</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            #{list subscriptions, as : 'subscription'}
            <tr>
                <td align="left"><b>${subscription.id}</b></td>
                <td>${subscription.date}</td>
                <td>${subscription.status}</td>
                <td>
                    <a href="#" class="btn btn-danger disabled">Unsubscribe</a>
                </td>
            </tr>
            #{/list}
        </tbody>
    </table>
#{/if}
</div>

