#{extends 'main.html' /} #{set title:'Service Assembly' /}

<ul class="breadcrumb">
  <li><a href="@{Application.index()}">Home</a> <span class="divider">/</span></li>
  <li><a href="@{ArtifactsController.index()}">Artifacts</a> <span class="divider">/</span></li>
  <li><a href="@{ArtifactsController.index()}#sas">Service Assemblies</a> <span class="divider">/</span></li>
  <li class="active">${sa?.name}</li>
</ul>

<div class="well">
	<p>
		${sa.name} is currently <span class="label">${sa.state.toString().toLowerCase().capFirst()}</span>
	</p>
	<div class="btn-group">
	  <a class="btn dropdown-toggle btn-danger" data-toggle="dropdown" href="#">
	    Manage
	    <span class="caret"></span>
	  </a>
	  <ul class="dropdown-menu">
	    <li><a href="#">Stop</a></li>
	    <li><a href="#">Undeploy</a></li>
	  </ul>
	</div>
</div>

<div id="sus">

</div>

