#{extends 'main.html' /} #{set title:'Nodes' /}

<ul class="breadcrumb">
  <li><a href="@{Application.index()}">Home</a> <span class="divider">/</span></li>
  <li class="active">Nodes</li>
</ul>

<div class="well">
    <a href="#addNodeModal" role="button" class="btn" data-toggle="modal">Add</a>
	<a class="btn" href="@{NodesController.syncTopology()}">Sync With Topology</a>
</div>

#{if nodes}
	<table class="table table-striped">
        <thead>
          <tr>
          	<th>#</th>
            <th>host:port</th>
            <th>State</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        #{list nodes, as : 'node'}
          <tr>
          <td align="left"><a href="@{NodesController.node(node.id)}">${node.id}</a></td>
            <td><a href="@{NodesController.node(node.id)}">${node.host}:${node.port}</a></td>
            <td>-</td>
            <td>
            	#{if currentnode && currentnode.id == node.id}
				<a href="@{NodesController.disconnect()}" class="btn btn-danger">Disconnect</a>
            	#{/if}
            	#{else}
            	<a href="@{NodesController.connect(node.id)}" class="btn">Connect</a>
				#{/else}
            </td>
          </tr>
        #{/list}
        </tbody>
      </table>
#{/if}
#{else}
	<div class="alert alert-error">
  		<button type="button" class="close" data-dismiss="alert">&times;</button>
  		<h4>Info!</h4>
  		You do not have any node...
	</div>
#{/else}

<!-- Add node modal -->
<div id="addNodeModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="addNodeModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="addNodeModalLabel">Add a new Node</h3>
    </div>
    <div class="modal-body">
        #{ifErrors}
            <div class="alert alert-error">
                <p><strong>Some values are invalid, please fix them...</strong></p>
                <ul>
                    #{errors}
                        <li>${error}</li>
                    #{/errors}
                </ul>
            </div>
        #{/ifErrors}
        <form accept-charset="UTF-8" id="addnodeform" class="addnodeform" action="@{NodesController.doCreateNode}">
            <label>HostName / IP</label>
            <input class="span5" name="host" placeholder="Hostname" value="${params?.host}${flash?.host}" type="text">
            <label>Port</label>
            <input class="span5" name="port" placeholder="Port" value="${params?.port}${flash?.port}" type="text">
            <label>Login</label>
            <input class="span5" name="login" placeholder="Login" value="${params?.login}${flash?.login}" type="text">
            <label>Password</label>
            <input class="span5" name="password" placeholder="Password" value="${params?.password}${flash?.password}" type="password">
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button id="addnodebutton" class="btn btn-primary" type="submit">Add</button>
    </div>
</div>

#{set 'lastScripts'}
    <script>
        window.onload = function(){
            #{ifErrors}
                $('#addNodeModal').modal('show')
            #{/ifErrors}
        }

        $('#addnodebutton').click(function(){
            $('#addnodeform').submit();
        });

    </script>
#{/set}